
@page {
    size: letter;
    margin: -1cm;
}
@media print {
    // body {
    //   margin-top: -1cm;
    // }
    .script_tool{
      display: none !important;
    }
    .page {
        margin-top: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}


@font-face
  font-family 'courier final draft bold italic'
  font-style normal
  src url('./font-courier/Courier Final Draft Bold Italic.ttf')

@font-face
  font-family 'courier final draft bold'
  font-style normal
  src url('./font-courier/Courier Final Draft Bold.ttf')

@font-face
  font-family 'courier final draft'
  font-style normal
  src url('./font-courier/Courier Final Draft Regular.ttf')

@font-face
  font-family 'courier final draft italic'
  font-style normal
  src url('./font-courier/Courier Final Draft Italic.ttf')

// @font-face
//   font-family 'courier new'
//   font-style normal
//   src url('./font-courier/Courier New.ttf')
//
// @font-face
//   font-family 'courier new bold'
//   font-style normal
//   src url('./font-courier/Courier New Bold.ttf')
//
// @font-face
//   font-family 'courier new italic'
//   font-style normal
//   src url('./font-courier/Courier New Italic font.ttf')
//
// @font-face
//   font-family 'courier new bold italic'
//   font-style normal
//   src url('./font-courier/Courier New Bold Italic font.ttf')

body
  padding: 0
  background-color: #d3d3d3
  font: 12pt "courier final draft"


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dashboard
  // width: 100%
  // height: 100%
  overflow-y: auto
  padding-bottom: 60px
  background-color: #d3d3d3
  // position: fixed
  display: table-cell
  top: 0
  bottom: 0
  right: 0
  left: 0
  :hover
    cursor:pointer

.scriptbox
  background: white
  width: 200px
  height: 260px
  padding: 10px
  margin: 100px 60px 0 60px
  text-align: center
  display: inline-block
  .script_time
    font: 8pt "courier final draft"
    margin-top: 30px
  .script_author
    margin-top: 60px
    font: 10pt "courier final draft"
  .script_extra
    font: 9pt "courier final draft"
    margin-top: 30px
  .script_delete
    border: 1px #D3D3D3 solid
    width: 20px
    height: 20px
    text-align: center
    border-radius: 20px
    position: absolute
    margin-top: -165px
    margin-left: 170px
    display:none
  &:hover .script_delete
    display: block

.script_add_ico
  margin-top: 135px

.script_back
  color: white
  text-align: center
  border: 1px solid white
  width: 50px
  height: 20px
  position: fixed
  margin: 10px 0 0 30px
  box-shadow: 0 0 5px white
  border-radius: 5px

.script_back:hover
  cursor:pointer

.script_save
  color: white
  text-align: center
  border: 1px solid white
  width: 50px
  height: 20px
  position: fixed
  margin: 50px 0 0 30px
  box-shadow: 0 0 3px white
  border-radius: 5px

.script_save:hover
  cursor:pointer

// .script_delete
//   border: 1px #D3D3D3 solid
//   width: 20px
//   height: 20px
//   text-align: center
//   border-radius: 20px
//   position: relative
//   margin-top: -165px
//   margin-left: -150px
//   display:none


.page
  width: 8.5in
  height: 11.0in
  margin: 1cm auto
  border: 1px #D3D3D3 solid
  border-radius: 5px
  background: white
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
  text-align: center


.title_title
  margin-top: 300px
  text-transform: uppercase
  font: 18pt "courier final draft bold"

.title_written
  margin-top: 100px

.title_author
  margin-top: 20px

.title_extra
  margin-top: 100px

.title_contact
  margin-top: 150px
  padding: 50px
  text-align: left



// .paragraph
//   width: 100%

.paragraphs
  margin-top: 80px

.pageNumber
  position: relative
  top: 40px
  left: 350px

.selectbox
  position: fixed

// b
//   font: 12pt "courier final draft bold"

#paragraph
  border: none
  // width: 6.1in
  height: calc(1px * var(--fontSize) + 2px)
  // font: 12pt "courier final draft"
  display: block
  padding: 0
  &:empty:focus:before
    content: attr(data-placeholder)
    color: rgba(0,0,0,0.2)


#paragraph:focus
  outline: none !important
  border: none
  box-shadow: 0 0 10px #719ECE

// #paragraph
//   font: 12pt "courier final draft"
//   b
//     font: 12pt "courier final draft bold"

.para-fadein
  width: 6.1in
  text-transform: uppercase
  text-align: center
  font: 12pt "courier final draft bold"
  margin: 20px auto 0 auto
  &:focus
    box-shadow: 0 0 10px black

.para-action
  width: 6.1in
  // text-transform:capitalize
  margin: 20px auto 0 auto
  text-align: left

.para-scene
  width: 6.1in
  // text-transform: uppercase
  font: 12pt "courier final draft bold"
  margin: 30px auto 0 auto
  text-align: left


.para-character
  width: 6.1in
  text-transform: uppercase
  text-align: center
  font: 12pt "courier final draft bold"
  margin: 20px auto 0 auto



.para-dialogue
  width: 3.6in
  margin: 0 auto
  text-align: left


.para-parenthetical
  width: 3.6in
  margin: 0 auto
  text-align: left


.para-shot
  width: 6.1in
  text-transform: uppercase
  margin: 30px auto 0 auto
  text-align: left


.para-transition
  width: 6.1in
  text-transform: uppercase
  margin: 20px auto 0 auto
  text-align: right
